<%= simple_form_for(@article, html: { multipart: true, class: "form-horizontal" }) do |f| %>
  <%= f.input :title, label: "文章标题" %>
  <div class="form-group string required article_title">
    <label class="col-sm-2 control-label string required" for="article_title">
      选择标签</label>
      <div class="col-sm-10">
        <% @labels.each_with_index do |label, index| %>
      <input id="" name="checked_labels[<%= index %>]" type="checkbox" value="<%= label[1] %>" <%= article.labels.find(label[1]).nil? ? '' : 'checked' %> />
      <label for="pet_dog"><%= raw label[0] %></label>
    <% end %>
      </div>
  </div>
 <div class="form-group text required page_content">
    <label class="text  col-sm-2 control-label" for="page_content">
      文章内容
    </label>
    <div class="col-sm-10">
      <script type="text/plain" id="contentEditor" name="article[content]" id="article_content" style="width:800px;height:300px;"><%= raw(@article.content) %></script>
    </div>
  </div>
  <%= f.input :avatar, label: "图片" %>
  <%= f.input :from, label: "来源" %>
  <%= f.input :url, label: "链接" %>
  <%= f.input :read_number, label: "阅读数" %>


  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", :back, class: "btn btn-default" %>
  </div>
<% end %>

<%= content_for :style do %>
  <link href="/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<% end %>

<% content_for :script do %>
  <script type="text/javascript" charset="utf-8" src="/umeditor/umeditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="/umeditor/umeditor.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/umeditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript">
    var um1 = UM.getEditor('contentEditor');
  </script>
<% end %>