
<div class="panel panel-default">
  <form action="/articles" method="get">
  title<input type="text" id="title" name="title" value="<%= params[:title] %>">
  content<input type="text" id="content" name="content" value="<%= params[:content] %>">
  <input type="submit" name="" value="搜索">
</form>
  <div class="panel-heading">
    文章列表
    <div class="pull-right">
      <%= link_to "新建文章", new_article_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>From</th>
          <th>Url</th>
          <th>Readnumber</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@articles) %>
      </tbody>
    </table>
    <footer class="panel-footer">
      <%= render partial: "shared/admin/paginate", locals: { object: @articles } %>
    </footer>
  </div>
</div>
<!-- <script type="text/javascript">
  function search() {
    var title = $('#title').val()
    var content = $('#content').val()
    window.location.href = “'/articles/?title=' + title + '||' + 'content=' + content”
  }
</script> -->







