<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= raw @label.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @label.number %>
</p>

<%= link_to 'Edit', edit_label_path(@label) ,class: "btn btn-default"%> |
<%= link_to 'Back', labels_path ,class: "btn btn-default"%>
