<div class="panel panel-default">
  <form action="/managers" method="get">
  email<input type="text" id="email" name="email" calss="input-group" value="<%= params[:email] %>">
  username<input type="text" id="username" name="username" value="<%= params[:username] %>">
  <input type="submit" name="" value="搜索">
  </form>
  <div class="panel-heading">
    用户列表
    <div class="pull-right">
      <%= link_to "新建用户", new_user_path, class: "btn btn-primary btn-xs" %>
    </div>
    <div class="pull-right">
      <%= link_to "一键激活", activeall_users_path, method: :put , class: "btn btn-success btn-xs" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>邮箱</th>
          <th>用户名</th>
          <th>状态</th>
          <th>图片</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <%= render(@users) %>
      </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%#= paginate @users, views_prefix: 'admin', theme: 'angulr' %>
    <%= render partial: "shared/admin/paginate", locals: { object: @users } %>
  </footer>
</div>
<script type="text/javascript">
  function search() {
    var username = $('#username').val()
    window.location.href = '/managers/?username=' + username
  }
</script>

