<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    photos列表
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
    <tr>
      <th>图片</th>
      <th style="width:120px;">创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
    <tbody>
      <% @photos.each do |photo| %>
      <tr>
  <td><%=image_tag photo.image.url('40') %></td>
  <td><%= photo.created_at.strftime("%F") %></td>
  <td>
    <%= link_to "修改", edit_photo_path(photo), class: "btn btn-default btn-xs" %>
    <%= link_to "删除", photo_path(photo), method: :delete, class: "btn btn-default btn-xs" %>
  </td>
</tr>
<% end -%>
    </tbody>
    </table>
  </div>
  <footer class="panel-footer">
    <%= render partial: "shared/admin/paginate", locals: { object: @photos } %>
  </footer>
</div>
