<aside id="aside" class="app-aside app-aside-fixed hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>导航</span>
          </li>
          <li class="<%= "active" if controller_name == "home" %>">
            <a href="/admin/home" class="auto">
              <i class="glyphicon glyphicon-stats icon text-primary"></i>
              <span class="font-bold">控制面板</span>
            </a>
          </li>
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>平台管理</span>
          </li>


    
          <li class="<%= "active" if controller_name == "sites" %>">
              <a href="/articles" class="auto">
                <i class="glyphicon glyphicon-book"></i>
                <span>文章管理</span>
              </a>
          </li>
      
          <% if can? :read, User %>

          <li class="<%= "active" if controller_name == "managers" %>">
                <a href="/managers" class="auto">
                  <i class="glyphicon glyphicon-user"></i>
                  <span>账号管理</span>
                </a>
          </li>
          <% end -%>
            <% if can? :read, Label %>
          <li class="<%= "active" if controller_name == "labels" %>">
                <a href="/labels" class="auto">
                  <i class="glyphicon glyphicon-tags"></i>
                  <span>标签管理</span>
                </a>
          </li>
          <% end %>

          <li class="<%= "active" if controller_name == "labels" %>">
                <a href="/photos" class="auto">
                  <i class="glyphicon glyphicon-picture"></i>
                  <span>图片管理</span>
                </a>
          </li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
